[Unit]
Description = Gunicorn Instance to serve the Excelium API service, for the company Shar-Qurylys
After = network.target

[Service]
User=radmin
Group=www-data
WorkingDirectory=/home/radmin/Documents/api_excel
Environment="PATH=/home/radmin/Documents/api_excel/myenv/bin"
ExecStart=/home/radmin/Documents/api_excel/myenv/bin/gunicorn -w 4 -b 192.168.30.19:25351 app:app

[Install]
WantedBy=multi-user.target